/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2014, 12:24:26 AM
    Author     : Thosan Girisona S
*/
.kotakcalon{
    color: #666666;
    background-color: #666666;
}

.kotakcalon img:hover{
    opacity: 0.8;
}

.kotakcalon img{
    width: 128px;
}

.kotakcalon button{
    margin-top: 3%;
}


#container2{
    color : white;
    text-align: center;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

#container2 form{
    margin-top: 2%;
}
